body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}

button{
    background-color: white !important;
    color: black !important;
}

/*Masculino*/

.masculino{
    background-image: url(../img/fondoMasculino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.masculino .imagen1{
    background-image: url(../img/pizza.jpg)
}
.masculino .imagen2{
    background-image: url();
}
.masculino .imagen3{
    background-image: url();
}
.masculino .imagen4{
    background-image: url();
}


/*femenino*/

.femenino{
    background-image: url(../img/fondoFemenino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}